@charset "utf-8";

/* div */
div.shop_div_1 {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 1300px;
}
div.shop_div_1_1 {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
div.shop_div_2 {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
div.shop_div_3 {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.shop_div_4 {
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
div.shop_div_5 {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  padding: 20px;
}
div.shop_div_5_1 {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
  padding: 20px;
}
div.shop_div_6 {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 350px;
  text-align: left;
}
div.shop_div_7 {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
  text-align: left;
}
div.shop_div_8 {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 400px;
  text-align: center;
}
div.shop_div_9 {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 800px;
  text-align: center;
  color: red;
  font-size: 20px;
}
div.shop_div_10 {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
  text-align: center;
}
div.shop_div_10_1 {
  display: inline-block;
  margin: auto;
  padding: 20px;
  width: 500px;
  vertical-align: text-top;
  border-radius: 20px;
  border-bottom: 5px solid #BEBEBE;
  background-color: #DCDCDC;
}

/* span */
span.shop_span_1 {
  display: inline-block;
  vertical-align: text-top;
  width: 296px;
  padding: 10px;
  border: 2px solid #CCC;
  margin: 0px 0px 10px 0px;
  text-align: center;
}
span.shop_span_1:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
span.shop_span_1_1 {
  display: block;
  margin-bottom: 10px;
  font-size: 19px;
}
span.shop_span_1_2 {
  display: block;
  margin-bottom: 10px;
}
span.shop_span_1_3 {
  display: block;
  margin-bottom: 10px;
  color: red;
}
span.shop_span_2 {
  display: block;
  color: #666;
  font-size: 20px;
}
span.shop_span_3 {
  display: block;
  color: #66CCFF;
  font-size: 20px;
}
span.shop_span_4 {
  display: block;
  color: #0000FF;
  font-size: 20px;
  text-align: center;
}
span.shop_span_5 {
  display: block;
  color: #FF9900;
  font-size: 20px;
  text-align: center;
}
span.shop_span_6 {
  display: block;
  color: #999;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
span.shop_span_7 {
  display: block;
  color: #000;
  font-size: 30px;
}
span.shop_span_7_1 {
  display: block;
  color: #000;
  font-size: 17px;
}
span.shop_span_7_2 {
  display: block;
  color: #000;
  font-size: 25px;
  margin-bottom: 20px;
}
span.shop_span_7_3 {
  display: block;
  color: #000;
  font-size: 25px;
  margin-top: 40px;
}
span.shop_span_8 {
  display: block;
  color: #000;
  font-size: 17px;
  text-align: left;
}
span.shop_span_9 {
  display: block;
  color: #000;
  font-size: 20px;
  text-align: left;
}
span.shop_span_9_1 {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}
span.shop_span_10 {
  color: red;
  font-size: 16px;
}
span.shop_span_11 {
  display: inline-block;
  width: 170px;
}
span.shop_span_11_1 {
  display: inline-block;
  width: 150px;
}

/* a */
a.shop_a_1:link, a.shop_a_1:visited, a.shop_a_1:hover, a.shop_a_1:active {
  color: #000;
  text-decoration: none;
}
a.shop_a_2:link, a.shop_a_2:visited, a.shop_a_2:hover, a.shop_a_2:active {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
a.shop_a_3:link, a.shop_a_3:visited, a.shop_a_3:hover, a.shop_a_3:active {
  color: #0000FF;
  text-decoration: none;
  font-size: 18px;
}
a.shop_a_4:link, a.shop_a_4:visited, a.shop_a_4:hover, a.shop_a_4:active {
  color: #FF9900;
  text-decoration: none;
  font-size: 18px;
}
a.shop_a_5:link, a.shop_a_5:visited, a.shop_a_5:hover, a.shop_a_5:active {
  color: #FF0099;
  text-decoration: none;
  font-size: 18px;
}
a.shop_a_6:link, a.shop_a_6:visited, a.shop_a_6:hover, a.shop_a_6:active {
  color: #696969;
  text-decoration: none;
  font-size: 18px;
}

/* img */
img.shop_img_1 {
  border: 4px solid #CCC;
  border-radius: 12px;
}

/* p */
p.shop_p_1 {
  border-left: 10px solid #6CF;
  padding: 10px;
  font-size: 18px;
}
p.shop_p_2 {
  border-left: 10px solid #F90;
  padding: 10px;
  font-size: 18px;
}
p.shop_p_3 {
  display: block;
  border-left: 10px solid #CCC;
  padding: 10px;
  font-size: 18px;
}

/* input */
input.shop_input_1 {
  font-family: mitrregular;
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input.shop_input_2 {
  display: block;
  margin: auto;
  font-family: mitrregular;
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
input.shop_input_2:hover {
  font-family: mitrregular;
  background-color: #45a049;
}
input.shop_input_3 {
  font-family: mitrregular;
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FFF;
}
input.shop_input_4 {
  display: block;
  margin: auto;
  margin-top: 30px;
  font-family: mitrregular;
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
input.shop_input_4:hover {
  font-family: mitrregular;
  background-color: #45a049;
}

::-webkit-file-upload-button {
  font-family: mitrregular;
  background-color: #000;
  color: #FFF;
  padding: 7px 10px;
  border: 2px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
::-webkit-file-upload-button:hover {
  font-family: mitrregular;
  background-color: #FFF;
  color: #000;
}

/* textarea */
textarea.shop_textarea_1 {
  font-family: mitrregular;
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100px;
}

/* select */
select.shop_select_1 {
  display: block;
  font-family: mitrregular;
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* button */
button.shop_button_1 {
  font-family: mitrregular;
  background-color: #F66;
  border: 2px solid #999;
  color: #000;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
button.shop_button_1:hover {
  background-color: #F99;
}
button.shop_button_2 {
  font-family: mitrregular;
  background-color: #CCC;
  border: 2px solid #999;
  color: #000;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
button.shop_button_2:hover {
  background-color: #e7e7e7;
}

/* table */
table.shop_table_1 {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
table.shop_table_1 tr, table.shop_table_1 td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 16px;
}
table.shop_table_1 tr:hover {
  background-color: #ddd;
}
